@model VideoStorage.Models.Video

@{
    ViewBag.Title = "Video";
}

<h2>Video</h2>

<div class="dropdown-id">
    <p>ID</p>
    <div class="dropdown-id-content">
        @foreach (var id in ViewBag.IDs)
        {
            <a href="@Url.Action("Index", new { id })">@id</a>
        }
    </div>
</div>

<div id="count" style="display:none;">@ViewBag.Count</div>



@if (Model != null)
{
     <iframe src=@Model.Path width="640" height="480" class="video"></iframe>
}



<script src="~/MySctipts/index.js"></script>
